.nav {

	&__list {
		display: flex;

		font-family: 'Red Hat Text', sans-serif;
		font-weight: 500;
	}

	&__item:not(:first-child) {
		padding-left: 4.2rem;
	}

	&__link {
		text-transform: capitalize;
	}

}