.section-title {
	display: block;
	margin: 0 auto;
	text-align: center;
	color: $color-brand-main;
	padding: 80px 0 40px 0;

	font-family: "Red Hat Text", serif;
	font-size: 4rem;
	line-height: 5.292rem;
	font-weight: 500;
}